---
// Import the `twMerge` function from `@tailwindcss/merge`
import type { AstroImage } from "@/content/config"
import Image from "astro/components/Image.astro"
import { twMerge } from "tailwind-merge"

// Define the component's props
type Props = {
   class?: string
   children: any
   href?: string
} & (
   | {
        emoji: string
     }
   | {
        image: AstroImage
        imageAlt: string
     }
)

const { class: additionalClasses = "", href } = Astro.props as Props

// Default classes for the component
const defaultClasses =
   "flex items-center rounded-lg p-3 text-md border border-gray-800"

// Merge the default classes with any additional classes passed as a prop
const classes = twMerge(defaultClasses, additionalClasses)
---

{
   href ? (
      <a
         href={href}
         class={twMerge(
            classes,
            "hover:scale-[103%] transition-all cursor-pointer",
         )}
      >
         {"emoji" in Astro.props ? (
            <div class="text-3xl pr-2">{Astro.props.emoji}</div>
         ) : null}
         {"image" in Astro.props ? (
            <Image
               class="w-8 h-8 object-contain pr-2"
               src={Astro.props.image}
               alt={Astro.props.imageAlt}
               width={26}
               height={26}
            />
         ) : null}
         <slot />
      </a>
   ) : (
      <div class={classes}>
         {"emoji" in Astro.props ? (
            <div class="text-3xl pr-2">{Astro.props.emoji}</div>
         ) : null}
         {"image" in Astro.props ? (
            <Image
               class="w-8 h-8 object-contain pr-2"
               src={Astro.props.image}
               alt={Astro.props.imageAlt}
               width={26}
               height={26}
            />
         ) : null}
         <slot />
      </div>
   )
}
