---
import "@fontsource-variable/inter"
interface Props {
   title: string
   lang?: string
   description?: string
   alternates?: {
      lang: string
      href: string
   }[]
}

const { title, alternates, description, lang } = Astro.props
---

<!doctype html>
<html lang={lang ?? "en"} class="scroll-smooth">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      {
         alternates?.map((alternate) => (
            <link
               rel="alternate"
               hreflang={alternate.lang}
               href={alternate.href}
            />
         ))
      }
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      {description && <meta name="description" content={description} />}

      <!-- analytics -->
      <script type="text/partytown" src="fancy-analytics.js"></script>
      <!-- Google tag (gtag.js) -->
      <script
         type="text/partytown"
         async
         src="https://www.googletagmanager.com/gtag/js?id=G-Z6XXWCVFLC"
      ></script>
      <script type="text/partytown">
         // @ts-ignore
         window.dataLayer = window.dataLayer || []
         function gtag() {
            // @ts-ignore
            dataLayer.push(arguments)
         }
         // @ts-ignore
         gtag("js", new Date())
         // @ts-ignore
         gtag("config", "G-Z6XXWCVFLC")
      </script>
   </head>
   <body class="font-sans text-text">
      <slot />
   </body>
</html>
<style is:global>
   html {
      font-family: "Inter Variable", sans-serif;
      background: black;
      color: white;
   }
</style>
